.logo {
  width: 140px;
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #0d1228;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 200px;
}

.submit {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #0d1228;
}

.search-icon {
  width: 10px;
  height: auto;
}

.nav-links {
  display: flex;
  /* Adjust this value to get the exact "spread" you want */
  gap: 100px;
}

header {
  height: 300px;
  background-image: url("../imgs/blueBookBanner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ffffff;
  color: #0d1228;
  border-style: solid;
  border-color: gold;
  border-radius: 5px;
}

.browse:hover {
  background-color: #b5b5b5;
  color: #080b19;
  border-color: gold;
}
