.logo {
  width: 140px;
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #0d1228;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 200px;
}
.browse:hover {
  background-color: #b5b5b5;
  color: #080b19;
  border-color: gold;
}
